<!--Code written by Adam Dono on the 2023/05/10  -->


<!-- Container for the navigation -->
<div class="large-screen-only">
  <ul class="nav justify-content-center">
    <div class="logo">
      <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
    </div>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['../landing']"><span>HOME</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/purchase']">BUY & SELL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/marketplace']">NFT'S</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/nerotoken']">NERO</a>
    </li>
    <button type="button" [routerLink]="['/register']" class="btn btn-secondary btn-sm">&nbsp; Sign Up&nbsp;</button>
    <button type="button" [routerLink]="['/login']" class="btn btn-light btn-sm">&nbsp; Log In&nbsp;</button>
  </ul>
</div>
  

<!-- Navbar for mobile view -->
<nav class="navbar navbar-expand-lg bg-body-tertiary d-lg-none">
  <div class="container-fluid">
    <div class="logo">  <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
   
  
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['../landing']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/purchase']">Buy & Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/marketplace']">NFT's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nerotoken']">Nero</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="banner" >

      <div class="cointainer">
         <div class="header" >
                   <h2>Crypto Tracker</h2>
                   <h6>Check all the crypto latest update</h6>
         </div>
  
  
         <div class="sub-header">
  
          <marquee behavior="scroll" onmousedown="stop()" onmouseout="start()" loop="infinite" direction="left">
          
              <div class="row">
  
                   <ng-container *ngFor="let row of bannerData" >
  
                      <div class="col-1"> 
                        <div class="card">
  
                          <img [src]="row.image"width="100" class="img-fluid" alt="">
  
                          <div class="card-body">
                              <h5 class="card-title"> {{row.symbol | uppercase}} <span class="text-danger"> &nbsp; {{  &nbsp;  &nbsp;   &nbsp; row.market_cap_change_percentage_24h}}%</span></h5>
                              <p class="card-text">{{row.current_price | currency}}</p>
                              
                          </div>
  
                        </div>  
                         
                      </div>
  
                   </ng-container>
              </div>
          </marquee>
  
         </div> 
  
      </div>
  
  </div>
  
  <div class="container mt-3 ">
  <table></table>
  <mat-form-field>
      <mat-label> Search </mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Nero Token " #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
      
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin </th>
          <td mat-cell *matCellDef="let row"> 
              <img [src]="row.image" width="50" alt="">
              <span>&nbsp; &nbsp;  {{row.symbol |uppercase}} </span>
              </td>
        </ng-container>
    
        <ng-container matColumnDef="current_price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let row"> {{row.current_price | currency :'USD' }} </td>
        </ng-container>
    
      
        <ng-container matColumnDef="price_change_percentage_24h">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 24h Change </th>
          <td mat-cell *matCellDef="let row"> {{row.price_change_percentage_24h}}% </td>
        </ng-container>
    
        <ng-container matColumnDef="market_cap">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Market Cap </th>
          <td mat-cell *matCellDef="let row"> {{row.market_cap | currency :'USD'}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr  (click)="gotoDetails (row ) " mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    
    
  </div>
  
  
  
  
  
  
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12 text-center text-md-start mb-3 mb-md-0">
         
        </div>
        <div class="col-md-6 col-12 text-center text-md-end">
        <button class="btn btn-transparent d-block d-md-inline-block"><i class="lab la-google-play"></i>Get On PlayStore</button>
      
          <button class="btn btn-dark d-block d-md-inline-block"><i class="lab la-apple"></i> Get On PlayStore</button>
        </div>
      </div>
    </div>
  </footer>
  
    
  <p class="copyright-text  d-flex justify-content-center md-1 ">Copyright &copy; 2023 All Rights Reserved by Nero
  