<!--Code written by Adam Dono on the 2023/05/10  -->



<!--NavBar-->
<ul class="nav justify-content-center">

    <div class="logo">  <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
   
  
    </div>
  
   <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">ABOUT</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/purchase']">BUY & SELL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/marketplace']">NFT'S</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/nero']">NERO</a>
    </li>
  
 <button type="button"  [routerLink]="['/register']" class="btn btn-secondary btn-sm"> &nbsp; Sign Up&nbsp; </button>
 <button type="button" [routerLink]="['/login']" class="btn btn-light btn-sm "> &nbsp; Log In&nbsp;</button>
   
  
  </ul>
  
  <p class="copyright-text  d-flex justify-content-center md-1 ">Copyright &copy; 2023 All Rights Reserved by Nero
  
