
.logo img {
    width: 90px;
margin-right:600px;
margin-top: 35px;

  }
  li{
    margin-top: 55px;
    color: rgb(203, 121, 13);
  }
  .btn-light{
    margin-top:55px;
    margin-bottom: 60px;
   margin-right: 10px;
   border-radius: 50px;
  }

  .btn-secondary{
    margin-top: 55px;
    margin-bottom: 60px;
   margin-right: 10px;
   border-radius: 50px;
   margin-left: 100px;
   background-color: #155F63;
  }

  
  @media (max-width: 576px) 
   {
    .logo img {
      width: 60px;
      margin-right: 10px;
    }
  
    li {
      margin-top: 5px;
    }
  
    .btn-light, .btn-secondary {
 
    }
  }

   
  .equal-height-container1 {
    display: flex;

     align-items: center;
  }
  .equal-height-container {
    display: flex;
    margin-top: 100px;
 
    align-items: center;
  }
  .equal-height-container .col {
    flex: 1; 
   
  }
.equal-height-container1 {
  margin-top: 100px;
  margin-bottom: 50px;



}
.equal-height-container {
  display: flex;
  margin-top: 100px;
margin-bottom: 150px;


}

/* Optional: Adding some padding for better spacing */


span{
  color:#155F63;
}



.slogan{
line-height: 30px;
}

.appi{
  margin-top: 20px;
}


.don-secondary{
  margin-top: 20px;
  margin-bottom: 10px;
 margin-right: 10px;
 border-radius: 50px;
 background-color: blue;
 color: aliceblue;
 height: 45px;
 width: 200px;
 font-size: 18px;
}

@media (max-width: 767.98px) {
  .equal-height-container {
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    
  }

  .equal-height-container1 {
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      
    }
  .equal-height-container .col {
    margin-bottom: 10px;
  }
  .content {
    padding: 20px;
    text-align: center;
  }
  .image-container img {
    width: 100%;
    height: auto;
  }
 
}
a{
  color: rgb(203, 121, 13);
}

.landing{
  margin-bottom: 80px;
}

.founder{
 margin-top: 50px;

}



@media (max-width: 767.98px) {
  .equal-height-container {
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    
  }

  .equal-height-container1 {
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      
    }
  .equal-height-container .col {
    margin-bottom: 10px;
  }
  .content {
    padding: 20px;
    text-align: center;
  }
  .image-container img {
    width: 100%;
    height: auto;
  
 
  }
 
}


.more{
 background-color: rgb(98, 100, 100);
}

.btn{
  border-radius: 17px;
  box-shadow: 17px 18px 17px -2px rgba(0,0,0,0.15);
}


.card{
  margin-left: 35px;
}


@media only screen and (max-width: 767px) {
  .large-screen-only {
    display: none;
  }
}