
<!--Code written by Adam Dono on the -->


<ul class="nav justify-content-center">

    <div class="logo">  <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
   
  
    </div>
  
   <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/purchase']">Buy & Sell</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/marketplace']">NFT'S</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/nero']">Nero</a>
    </li>
  
    <button type="button" [routerLink]="['/login']" class="btn btn-light btn-sm "> &nbsp; Log In&nbsp;</button>
    <button type="button"  [routerLink]="['/register']" class="btn btn-secondary btn-sm"> &nbsp; Sign Up&nbsp; </button>
  
  </ul>
  

  <div class="about center ">
    <h1>About</h1>

  </div>