
<!--Code written by Adam Dono on the -->


<!--NavBar-->
<ul class="nav justify-content-center ">

    <div class="logo">  <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
   
  
    </div>
  
   <li class="nav-item">
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['../landing']">HOME</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">ABOUT</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/purchase']">BUY & SELL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/marketplace']">NFT'S</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/nerotoken']"><span>NERO</span></a>
    </li>
  
  <button type="button"  [routerLink]="['/register']" class="btn btn-secondary btn-sm"> &nbsp; Sign Up&nbsp; </button>
  <button type="button" [routerLink]="['/login']" class="btn btn-light btn-sm "> &nbsp; Log In&nbsp;</button>
   
  
  </ul>
  


  <div class="more  d-flex justify-content-center ">
   <Span> More To Be Announced Soon! </Span>
  </div>