
<!--Code written by Adam Dono on the -->


<!--NavBar-->
<ul class="nav justify-content-center sticky-top ">

  <div class="logo">  <img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" alt="img">
 

  </div>

 <li class="nav-item">
    <a class="nav-link" [routerLink]="['/about']">ABOUT</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link"  [routerLink]="['/purchase']">BUY & SELL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  [routerLink]="['/marketplace']">NFT'S</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/nero']">NERO</a>
  </li>

<button type="button"  [routerLink]="['/register']" class="btn btn-secondary btn-sm"> &nbsp; Sign Up&nbsp; </button>
<button type="button" [routerLink]="['/login']" class="btn btn-light btn-sm "> &nbsp; Log In&nbsp;</button>
 

</ul>

  <div class="container">
    <div class="row equal-height-container">
      <div class="col content">
        <h2 class="head" >A One In A Million NFT Market Place</h2>
        <p class="slogan">MetaVerse, Music & Rewards</p>
      </div>

      <div class="col image-container">
        
       
      </div>
    </div>
  </div>
  


  <div class="d-flex flex-column h-100">
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-purple"><img src="../assets/nero-low-resolution-logo-color-on-transparent-background.png" width="90px" alt=""></h5>
                    <p class="small text-muted">Welcome to Nero, your gateway to the exciting world of cryptocurrencies</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Nero</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-black mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a [routerLink]="['/about']">About</a></li>
                        <li><a href="#">Buy Crypto </a></li>
                        <li><a href="#">NFT</a></li>
                        <li><a href="#">Nero Token</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-black mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
  </div>
  
  